extend extend/_template.jade

block configuration
	- device = "desktop"
	include config.jade
	include inc/mixin/mixin.jade

block stylesheet
	link(rel="stylesheet", href=globalPath + globalVersion + "/css/global.css")
	link(rel="stylesheet", href=cssPath + "swiper.min.css")
	link(rel="stylesheet", href=cssPath + "style.css")
	
block content
	include content.jade
	
block script
	script(src=globalPath + globalVersion + "/js/core-min.js")
	script(src=jsPath + "swiper.min.js")
	script(src=jsPath + "function.js")
	
